
Alura.LeilaoOnline.Core/bin/

Alura.LeilaoOnline.Core/obj/

Alura.LeilaoOnline.Tests/bin/

Alura.LeilaoOnline.Tests/obj/

Alura.LeliaoOnline.ConsoleApp/bin/

Alura.LeliaoOnline.ConsoleApp/obj/

.vs/Alura.LeilaoOnline/
